.submenu{
    margin: 0 auto;
    max-width: 1280px;
    padding: 80px 14px 4px 14px;
}

.ul{
    display: flex;
    list-style: none;
    padding: 14px 0;
    gap: 24px;

    li a{
        background-color: #121212;
        color: #FFF;
        padding: 8px 14px;
        border-radius: 4px;
    }
}
